<template name="header">
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-inner">
            <a class="navbar-brand" href="{{pathFor 'postsList'}}">Motion</a>
            <ul class="nav navbar-nav">
                <li class="{{activeRouteClass 'home' 'newPosts'}}">
                  <a href="{{pathFor 'newPosts'}}">New</a>
                </li>
                <li class="{{activeRouteClass 'topPosts'}}">
                  <a href="{{pathFor 'topPosts'}}">Top</a>
                </li>
                <li class="{{activeRouteClass 'postSubmit'}}">
                    <a href="{{pathFor 'postSubmit'}}">Submit</a>
                </li>
            </ul>
            <ul class="nav navbar-nav pull-right">
                <li class="dropdown">
                  {{> notifications}}
                </li>
                {{> loginButtons align="right"}}
            </ul>
        </div>
    </nav>
</template>