<template name="postEdit">
    <form class="main" role="form">
        <div class="form-group">
            <label for="url">url</label>
            <input name="url" type="text" class="form-control" value="" placeholder="Your URL">
        </div>
        <div class="form-group">
            <label class="control-label" for="title">Title</label>
            <input name="title" type="text" class="form-control" value="" placeholder="Name your post">
        </div>
        <div class="form-group">
            <label class="control-label" for="message">Message</label>
            <textarea name="message" type="text" class="form-control" value=""></textarea>
        </div>
        <div class="form-group">
            <a class="btn btn-default" href="{{pathFor 'postPage'}}">Cancel</a>
            <input type="submit" value="Submit" class="btn btn-primary">
            <a class="btn btn-danger delete pull-right" href="#">Delete post</a>
        </div>
    </form>
</template>